<!DOCTYPE html>
<html lang="en">

	<head>
	    <meta charset="utf-8">
	    <title>Group Manager</title>
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <meta name="description" content="">
	    <meta name="author" content="">
		<!-- enable responsive design -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<link rel="stylesheet" type="text/css" href="includes/styles/bootstrap.min.css" media="all" />
		<link rel="stylesheet" type="text/css" href="includes/styles/bootstrap-responsive.min.css" media="all" />
		<link rel="stylesheet" type="text/css" href="includes/styles/datepicker.css" media="all" />
		<link rel="stylesheet" type="text/css" href="includes/styles/font-awesome.css" media="all" />
		<link rel="stylesheet" type="text/css" href="includes/styles/groupManager.css" media="all" />
		
		<!-- ********************************************************
		**						BASE TEMPLATES
		********************************************************* -->
		<script type="text/template" id="homePage">
			<h2>Welcome Home</h2>
		</script>
		
		<script type="text/template" id="memberSelector">
			<h2>Select Attendees (dynamic)</h2>
			<div>
				<p>Instructions here</p>
				<input id="filterMembers" type="text" class="input-medium search-query" placeholder="Filter Members">
				<table class="table table-hover">
					<tbody id="memberList">
					</tbody>
				</table>
			</div>
		</script>
		
		<script type="text/template" id="memberSelectionRow">
			<td>
				<%= firstName %> <%= lastName %>
			</td>
			<td>
				box
			</td>
		</script>
		
		<!-- ********************************************************
		**						MEMBER TEMPLATES
		********************************************************* -->
		<script type="text/template" id="membersPage">
			<h2>Members Page</h2>
			<div>
				<!-- TODO : use style for clear right -->
				<div style="clear:right;">
					<a href="#/members/new" style="float: right">Add Member</a>
				</div>
				<table class="table table-striped table-bordered table-hover">
					<tbody id="memberList">
					</tbody>
				</table>
			</div>
		</script>
		
		<script type="text/template" id="memberRow">
			<td>
				<%= firstName %> <%= lastName %>
			</td>
			<td>
				<%= email %>
			</td>
			<td>
				<%= phone %>
			</td>
			<td>
				<a href="javascript: void(0);" class="view">view</a> &nbsp;
				<a href="javascript: void(0);" class="edit">edit</a> &nbsp;
				<a href="javascript: void(0);" class="remove">delete</a>
			</td>
		</script>
		
		<script type="text/template" id="memberEditPage">
			<h2>Member Edit Page</h2>
			<div>
				<form onsubmit="return false;">
					<!-- First Name -->
					<div class="control-group">
						<label class="control-label" for="firstName">First Name:</label>
						<div class="controls input-append">
							<input id="firstName" name="firstName" type="text" value="<%= firstName %>" placeholder="First Name" />
							<span class="add-on"><i class="icon-calendar"></i></span>
						</div>
						<div class="help-inline">blah blah blah</div>
					</div>

					<!-- Last Name -->
					<div lass="control-group">
						<label class="control-label" for="lastName">Last Name:</label>
						<div class="controls input-append">
							<input id="lastName" name="lastName" type="text" value="<%= lastName %>" placeholder="Last Name" />
							<span class="add-on"><i class="icon-road"></i></span>
						</div>
						<div class="help-inline">blah blah blah</div>
					</div>
					
					<!-- Email -->
					<div lass="control-group">
						<label class="control-label" for="email">Email:</label>
						<div class="controls input-append">
							<input id="email" name="email" type="text" value="<%= email %>" placeholder="Email" />
							<span class="add-on"><i class="icon-envelope"></i></span>					
						</div>
						<div class="help-inline">blah blah blah</div>
					</div>
					
					<!-- Phone -->
					<div lass="control-group">
						<label class="control-label" for="phone">Phone:</label>
						<div class="controls input-append">
							<input id="phone" name="phone" type="text" value="<%= phone %>" placeholder="Phone" />
							<span class="add-on"><i class="icon-calendar"></i></span>
						</div>
						<div class="help-inline">blah blah blah</div>
					</div>
					
					<a id="submitBtn" href="javascript: void(0);" class="btn btn-primary">Submit</a>
				</form>
			</div>
		</script>
		
		<script type="text/template" id="memberDetailsPage">
			<h2>Member Details Page</h2>
			<div>
				<p>
					Say hello to <%= name %>.
				</p>
			</div>
		</script>
		
		<!-- ********************************************************
		**						MEETING TEMPLATES
		********************************************************* -->
		
		<script type="text/template" id="meetingEditPage">
			<h2>Meeting Edit Page</h2>
			<div>
				<form onsubmit="return false;">
					<!-- Topic -->
					<div class="control-group">
						<label class="control-label" for="topic">Topic:</label>
						<div class="controls input-append">
							<input id="topic" name="topic" type="text" value="<%= topic %>" placeholder="Topic" />
							<span class="add-on"><i class="icon-calendar"></i></span>
						</div>
						<div class="help-inline">Error message here</div>
					</div>
					
					<!-- Meeting Date -->
					<div class="control-group">
						<label class="control-label" for="meetingDate">Date:</label>
						<div class="controls input-append">
							<input id="meetingDate" name="meetingDate" type="text" value="<%= meetingDate %>" placeholder="mm/dd/yyyy" />
							<span class="add-on"><i class="icon-calendar"></i></span>
						</div>
						<div class="help-inline">blah blah blah</div>
					</div>
					
					<div>
						<!-- Presenters -->
						<div class="block-text meeting-list-header">
							<div class="meeting-actions">
								<a href="#/meetings/<%= id %>/presenters" class="edit">edit</a>
							</div>
							<div class="meeting-list-title">
								Presenters (<%= presenters.length %>)
							</div>
						</div>
						<div class="meeting-list">
							<% for (var i = 0; i < presenters.length; i++) { %>
								<% var presenter = presenters[i]; %>
								<div>
									<%= presenter.firstName %> <%= presenter.lastName %>
								</div>
							<% } %>
						</div>
						
						<!-- Meetings -->
						<div class="block-text meeting-list-header">
							<div class="meeting-actions">
								<a href="#/meetings/<%= id %>/attendees" class="edit">edit</a>
							</div>
							<div class="meeting-list-title">
								Attendees (<%= attendees.length %>)
							</div>
						</div>
						<div class="meeting-list">
							<% for (var i = 0; i < attendees.length; i++) { %>
								<% var attendee = attendees[i]; %>
								<div>
									<%= attendee.firstName %> <%= attendee.lastName %>
								</div>
							<% } %>
						</div>
						
						<!-- Raffles -->
						<div class="block-text meeting-list-header">
							<div class="meeting-actions">
								<a href="javascript: void(0);" class="view">view</a> &nbsp;
								<a href="javascript: void(0);" class="edit">edit</a>
							</div>
							<div class="meeting-list-title">
								Raffles (<%= raffles.length %>)
							</div>
						</div>
						<div class="meeting-list">
							<% for (var i = 0; i < raffles.length; i++) { %>
								<% var raffle = raffles[i]; %>
								<div>
									<%= raffle.prize %>
								</div>
							<% } %>
						</div>
					</div>
					
					<a href="javascript: void(0);" id="submitBtn" class="btn btn-primary">Submit</a>
				</form>
			</div>
		</script>
		
		<script type="text/template" id="meetingsPage">
			<h2>Meetings Page</h2>
			<div>
				<!-- TODO : use style for clear right -->
				<div style="clear:right;">
					<a href="#/meetings/new" style="float: right">Add Meeting</a>
				</div>
				<table class="table table-striped table-bordered table-hover">
					<tbody id="meetingList">
					</tbody>
				</table>
			</div>
		</script>
		
		<script type="text/template" id="meetingRow">
			<td>
				<%= topic %> 
			</td>
			<td>
				<%= meetingDate %>
			</td>
			<td>
				<a href="javascript: void(0);" class="view">view</a> &nbsp;
				<a href="javascript: void(0);" class="edit">edit</a> &nbsp;
				<a href="javascript: void(0);" class="remove">delete</a>
			</td>
		</script>
		
		<!-- ********************************************************
		**						RAFFLE TEMPLATES
		********************************************************* -->
		
		<script type="text/template" id="raffleEditPage">
			<div class="page-header">
				<h1>Raffles <small>Edit Raffle</small></h1>
			</div>
			<div>
				<form onsubmit="return false;">
					<div lass="control-group">
						<label class="control-label" for="prize">Prize:</label>
						<div class="controls input-append">
							<input id="prize" name="prize" type="text" value="<%= prize %>" placeholder="Prize" />
							<span class="add-on"><i class="icon-road"></i></span>
						</div>
						<div class="help-inline">blah blah blah</div>
					</div>
					<br/> <br/>
					<a href="javascript: void(0);" id="submitBtn" class="btn btn-primary">Submit</a>
				</form>
			</div>
		</script>
		
		<script type="text/template" id="rafflesPage">
			<h2>Raffles Page</h2>
			<div>
				<!-- TODO : use style for clear right -->
				<div style="clear:right;">
					<a href="#/raffles/new" class="pull-right">Add Raffle</a>
				</div>
				<table class="table table-striped table-bordered table-hover">
					<tbody id="raffleList">
					</tbody>
				</table>
			</div>
		</script>
		
		<script type="text/template" id="raffleRow">
			<td>
				<%= prize %>
			</td>
			<td>
				<a href="javascript: void(0);" class="view">view</a> &nbsp;
				<a href="javascript: void(0);" class="edit">edit</a> &nbsp;
				<a href="javascript: void(0);" class="remove">delete</a>
			</td>
		</script>
		
	</head>
	
	<body>
		
		
		<!-- TODO : temp styles for testing --->
		<style type="text/css">
			#container{
				border:				1px solid black;
			}
			
			#navigation{
				/*background-color:	#DDDDDD;*/
				padding:			10px 0px 10px 15px;
			}
			
			#navigation ul{
				width:				100%;
			}
			
			/* Tablet 
			@media (max-width: 767px){
				#navigation{
					display:		none;
				}
			}
			*/
			
		</style>
		
		<!-- TODO : Update HTML and use HTML5 (sections & such) -->
		
		<!-- application wrapper -->
		<div id="container">
			
			<div class="row">
				<!-- navigation -->
				<div id="navigation" class="span3 tabbable tabs-left">
					<ul class="nav nav-tabs">
						<li id="membersNav">
							<a href="#members">Members</a>
						</li>
						<li id="meetingsNav">
							<a href="#meetings">Meetings</a>
						</li>
						<li  id="rafflesNav">
							<a href="#raffles">Raffles</a>
						</li>
					</ul>
				</div>
				
				<!-- main content -->
				<div id="content" class="span6"></div>
			</div>

		</div>
		
		
		<!-- JavaScript -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="includes/scripts/libs/jquery-1.7.2.min.js"><\/script>')</script>
		<script src="includes/scripts/libs/underscore-min.js"></script>
		<script src="includes/scripts/libs/underscore.string.min.js"></script>
		<script src="includes/scripts/libs/backbone-min.js"></script>
		<script src="includes/scripts/libs/bootstrap.min.js"></script>
		<script src="includes/scripts/libs/bootstrap-datepicker.js"></script>

		<script src="includes/scripts/init.js"></script>
		<!-- model -->
		<script src="includes/scripts/models/meeting.js"></script>
		<script src="includes/scripts/models/member.js"></script>
		<script src="includes/scripts/models/raffle.js"></script>
		<!-- collections -->
		<script src="includes/scripts/collections/meetingCollection.js"></script>
		<script src="includes/scripts/collections/memberCollection.js"></script>
		<script src="includes/scripts/collections/raffleCollection.js"></script>
		<!-- views -->
		<script src="includes/scripts/views/pages/homePage.js"></script>
		<script src="includes/scripts/views/pages/memberSelector.js"></script>
		<script src="includes/scripts/views/pages/meetingForm.js"></script>
		<script src="includes/scripts/views/renderers/meetingRow.js"></script>
		<script src="includes/scripts/views/renderers/memberSelectionRow.js"></script>
		<script src="includes/scripts/views/pages/meetingsPage.js"></script>
		<script src="includes/scripts/views/pages/raffleForm.js"></script>
		<script src="includes/scripts/views/renderers/raffleRow.js"></script>
		<script src="includes/scripts/views/pages/rafflesPage.js"></script>
		<script src="includes/scripts/views/pages/membersPage.js"></script>
		<script src="includes/scripts/views/renderers/memberRow.js"></script>
		<script src="includes/scripts/views/pages/memberDetailsPage.js"></script>
		<script src="includes/scripts/views/pages/memberForm.js"></script>
		<!-- core -->
		<script src="includes/scripts/routers/mainRouter.js"></script>
		<script src="includes/scripts/views/groupManager.js"></script>
		<script src="includes/scripts/main.js"></script>
		
	</body>
</html>


