
#memberList tr .icon-check-empty{
	font-size: 							22px; 
	color: 								#AAAAAA;
	display:							block;
}

#memberList tr .icon-check{
	display:							none;
}

#memberList tr.selected{
	/* TODO : PICK BETTER COLORS */
	background-color:					#EBF4F7; 
	color:								#3A87AD;
}

#memberList tr.selected .icon-check{
	color:								#000000;
	font-size: 							22px;
	display:							block;
}

#memberList tr.selected .icon-check-empty{
	display:							none;
}


.block-text{
	color:								#333333;
	background-color:					#F5F5F5;
	border:								1px solid #D0D0D0;
	padding:							10px;
	 -webkit-border-radius:				6px;
	border-radius: 						6px;
	margin:								20px 0px 0px;
	cursor: 							pointer;
}

.block-text:hover{
	background-color:					#D9EDF7;
}

.control-group.error .help-inline{
	display:							inline-block;
}

.help-inline{
	display:							none;
}

.hidden{
	display:							none;
}

.meeting-actions{
	float:								right;
}

.meeting-list{
	display:							none;
	border:								1px solid #D0D0D0;
	border-top-style:					none;
	border-right-style:					solid;
	border-bottom-style:				solid;
	border-left-style:					solid;
}

.meeting-list-header.expanded{
	border-bottom-right-radius:			0px;
	border-bottom-left-radius:			0px;
	-webkit-border-bottom-left-radius:  0px;
	-webkit-border-bottom-right-radius: 0px;
}

.meeting-list-title{
	text-align:							center;
}






